# Ignore entire directory to prevent config conflicts!
.idea/
*.iml

# Build artifacts
bin/
.gradle/
out/

# Compiled class files
*.class

# Logs
*.log

# Ignore files generated during execution
config/10*/
*.dat